/* body {
    background-color: white;
} */


canvas{
    position: absolute;
    width: 100vw;
    margin: 0 auto;
    margin-left: 32%
}

#buttons {
    position: absolute;
    width: 81vw;
}

.getJSON {
    position: relative;
}

.getError {
    position: relative;
}

#headers {
    padding-bottom: 25px;
}

#button-row {
    padding-top: 15px;
}

#content {
    width: 76vw;
    height: 50vw;
    padding-top: 4vw;
    font-size: 2vw;
    margin: 0 auto;
}